{% extends 'myapp/admin_base.html' %}
{% load static %}
{% block background %}{% endblock %}
{% block title %}Hello Admin!!!{% endblock %}
{% block body %}
<style>
    body {
        background-image: url("{% static './myapp/images/admin_bg.jpeg' %}");
    }
    .main {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
    .main h1 {
        color: #fff;
    }
</style>
<div class="main">
    <h1>Welcome Admin</h1>
</div>
{% endblock %}
