{% extends 'myapp/club_base.html' %}
{% load static %}
{% block background %}{% endblock %}
{% block title %}Hello Club!!!{% endblock %}
{% block body %}
<style>
    body {
        background-image: url("{% static './myapp/images/bg.jpeg' %}");
    }
    div.main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4rem;
    }
</style>
<div class="main">
    <h1 class="text-danger">Welcome {{ club }}</h1>
    <h4>{{club_details.club_name}}</h4>
    <p>{{club_details.c_descp}}</p>
</div>
{% endblock %}
